<ion-view view-title="{{reminder.name}}">
  <ion-content class="padding">
    <ul class="list">
      <li class="item item-input">
        <input type="text" ng-model="reminder.text" placeholder="Text">
      </li>
      <li class="item item-toggle">
        Recurring
        <label class="toggle toggle-neutral">
          <input type="checkbox" ng-model="reminder.recurring">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-input item-select" ng-show="reminder.recurring">
        <div class="input-label">
          Choose a day
        </div>
        <select ng-model="reminder.every" ng-init="reminder.every = 'Sunday'" ng-options="day as day for day in ['Sunday', 'Monday', 'Tuesday']">
    </select>
      </li>
      <li class="item item-input" ng-show="!reminder.recurring">
        <div class="input-label">
          Date
          </div>
        <input type="date" ng-model="reminder.date" placeholder="Date">
      </li>
      <li class="item item-input">
        <div class="input-label">
          Time
          </div>
        <input type="time" ng-model="reminder.time" placeholder="Time">
      </li>
    </ul>
            <a href="" class="button button-full button-rounded button-positive" ng-click="addReminder()">Add</a>

  </ion-content>
</ion-view>